extends ../../layouts/default.pug 
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
block main 
    h1 Product List

    .card.mb-3 
        .card-header Filter and Search
        .card-body 
            .row
                .col-6
                    +filter-status(filterStatus)
                .col-6
                    +search(keyword)
                    

    .card.mb-3 
        .card-header Product List
            table.table.table-hover.table-sm 
                thead 
                    tr
                        th STT 
                        th Hình ảnh 
                        th Tiêu đề
                        th Giá
                        th Trạng Thái 
                        th Hành động

                tbody 
                    each item, index in products   
                        tr
                            td #{index + 1}
                            td 
                                img(
                                    src=item.thumbnail
                                    alt= "San pham 1"
                                    wigth= "100px"
                                    height= "70px"
                                )
                            td #{item.title}
                            td #{item.price}$
                            if (item.availabilityStatus == "In Stock")
                                td 
                                    a(href="#" class="badge bg-success") In Stock
                            else 
                                td 
                                    a(href="#" class="badge bg-danger") Low Stock
                            td
                                button(class="btn btn-warning btn-sm") Sua 
                                button(class="btn btn btn-danger btn-sm ms -1") Xoa

        nav
            ul(class="pagination")
                if(pagination.currentPage > 1)
                    li(class="page-item")
                        button(
                            class="page-link"
                            button-pagination= pagination.currentPage - 1
                            ) Previous

                - for(let i = 1; i <= pagination.totalPage; i++)
                    li(class=`page-item ${pagination.currentPage == i ? "active": ""}`)
                        button(
                            class="page-link"
                            button-pagination = i
                            ) #{i}
                if(pagination.currentPage < pagination.totalPage)
                    li(class="page-item")
                        button(
                            class="page-link"
                            button-pagination = pagination.currentPage + 1
                            ) Next



