extends ../../layouts/default.pug 


block main 
    
    h1 Product Category
    .card.mb-3 
        .card-header Product Categories
            .card-body
                .row 
                    .col-8
                    .col-4 
                        a(
                            href=`${prefixAdmin}/product-category/create`
                            class="btn btn-outline-success"
                        ) Add new Category
                table(
                    class= "table table-hover table-sm"
                    checkbox-multi
                )
                    thead 
                        tr
                            //- th  
                            //-     input(type="checkbox" name="checkall")
                            th No.
                            th Image
                            th Title
                            th Position
                            th Status 
                            th Action

                    tbody 
                        each item, index in categories   
                            tr
                                //- td 
                                //-     input(
                                //-         type='checkbox'
                                //-         name='id'
                                //-         value = item.id
                                //-     )
                                td #{index + 1}
                                td 
                                    img(
                                        src=item.thumbnail
                                        alt= `Category ${index + 1}`
                                        wigth= "100px"
                                        height= "70px"
                                    )
                                td #{item.title}
                                td 
                                    input(
                                        type="number"
                                        value= item.position
                                        style= "width: 60px"
                                        min= "1"
                                        name= "position"
                                    )
                                if (item.status == "active")
                                    td 
                                        a( 
                                            href="javascript:;" 
                                            data-status= item.status
                                            data-id = item.id
                                            button-change-status
                                            class="badge bg-success"
                                        ) Active
                                else 
                                    td 
                                        a(
                                            href="javascript:;" 
                                            data-status= item.status
                                            data-id = item.id
                                            button-change-status
                                            class="badge bg-danger"
                                        ) Inactive
                                td
                                    a(
                                        href=`${prefixAdmin}/product-category/detail/${item.id}`
                                        class="btn btn-secondary btn-sm" 
                                    ) Detail 
                                    a(
                                        href=`${prefixAdmin}/product-category/edit/${item.id}`
                                        class="btn btn-warning btn-sm" 
                                    ) Edit 
                                    button(
                                        class="btn btn btn-danger btn-sm ms -1"
                                        data-id= item.id
                                        button-delete
                                        ) Delete

    script(src="/admin/js/product.js")