extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    h1(class="mb-4") Edit role
    +alert-success("5000")
    +alert-error("5000")

    form(
        action=`${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
        method="POST"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
                value= role.title
            )
        div(class="form-group")
            label(for="desc") Mô tả
            input(
                type="text"
                class="form-control"
                id="desc"
                name="description"
                value = role.description 
            )
        div(class="form-group")
            br
            button(
                type="submit"
                class="btn btn-primary"
            ) Update